<?xml version="1.0"?>

<model>
  <name>Multiranger Deck</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Joseph Sullivan</name>
    <email>jgs6156@uw.edu</email>
  </author>

  <description>
    A model of the (currently unreleased) Multiranger Deck for Crazyflie 2.0
    by Bitcraze.
  </description>

</model>
